<?xml version="1.0" encoding="UTF-8"?>

<config>
  <car name="Black Car" loc="Street 18"/>
  <car name="Green Car" loc="Crossing 6"/>
  <car name="Orange Car" loc="Crossing 7"/>
  <car name="Red Car" loc="Street 24"/>
  <car name="Silver SUV" loc="Street 23"/>
  <car name="White Car" loc="Street 28"/>
  <building name="Stark Industries" type="StarkIndustries" loc="9"/>
  <building name="Hospital" type="Hospital" loc="6"/>
  <building name="School" type="School" loc="5"/>
  <building name="Police Station" type="PoliceStation" loc="10"/>
  <building name="Restaurant" type="Restaurant" loc="12"/>
  <citizen name="Tony Stark" gender="Male" job="IronMan"/>
</config>
